@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  max-width: min-content;
}

img {
  width: 100%;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}

form {
  display: flex;
  flex-direction: column;
}
